div.upper{font-size: 100px;

font-family: 'Dancing Script', cursive;

}
h1 {color:#025955}

div.middle {font-family: 'Dancing Script', cursive;
font-size: 50px;
border: 10px;}

div.form {
  color:#f4f9f9
}
